
<div class="select-container"
     (click)="openCloseDropDown()"
     [class.errored]="parenControl.invalid && parenControl.touched"
>
    <div class="label">
        <ng-content></ng-content>
    </div>
    <div class="select-input">
        <input
                [ngModel]="value()"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onModelChange($event)">
    </div>

    <div class="icon" [@rotation]="open() ? 'rotated' : 'default'" (click)="openCloseDropDown()">
        <img src="chevron.png" alt="">
    </div>
</div>

@if(open()) {
    <app-dropdown [items]="filteredItems()" [element]="value()" (elementChange)="setOpen($event)" @dropdown></app-dropdown>
}


