.select-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 5rem;
	height: var(--field-height);
	border: var(--app-border);
	border-radius: var(--app-radius);
	text-align: center;
}

.label,
input,
.icon {
	position: absolute;
}

.icon {
	right: 1rem;
	z-index: 1;
	cursor: pointer;
}

.label {
	left: 0.625rem;
	color: var(--input-plcehoder-color);
	font: var(--input-font);
}

input {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0.8125rem;
	border: none;
	outline: none;
	font: var(--input-font);
}

app-dropdown {
	position: absolute;
	right: 0;
	z-index: 2;
	overflow-y: auto;
	width: var(--defult-field-width);
	max-height: 200px;
	margin: 0 32.5%;
	background: white;
}