@use '@global/styles/mixins';

:host {
	@include mixins.clear-button;
	@include mixins.clear-button;
	display: flex;
	align-items: center;
	justify-content: center;
	color: currentcolor;

	&[data-appearance='input-button'] {
		width: var(--height-s);
		height: var(--height-s);
		background: var(--input-buton-bg);

		.content {
			display: none;
		}
	}

	&[data-appearance='icon-button'] {
		width: max-content;
		padding: 0.4rem;

		.content {
			display: none;
		}
	}
}

.button {
	display: flex;
	gap: 0.4rem;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: max-content;
}

.icon {
	display: flex;
	max-width: 1.625rem;
	margin: 0 auto;
	background: currentcolor;
	mask-repeat: no-repeat;
	mask-position: center;

	&:is(img) {
		margin: 0 auto;
		background: none;
		mask-image: none;
	}
}