@use '@global/styles/mixins';

.wrapper {
	display: flex;
	gap: 0.5rem;
	flex-direction: row-reverse;
	align-items: center;
	width: max-content;
	font-size: 17px;
	cursor: pointer;
}

input {
	display: none;
	border: none;
	appearance: none;
}

.checkbox {
	@include mixins.checked;
	width: 1.25rem;
	height: 1.25rem;
	border: var(--app-border);
	border-radius: var(--app-radius);
}