@use "@global/styles/mixins";

.wrapper {
  display: flex;
  gap: 0.12rem;
  align-items: center;
  width: auto;
}

.input-wrapper {
  border:  rgba(195, 195, 195, 1) solid 0.1rem;
  position: relative;
  display: flex;
  height: 44px;
  border-radius: 0.25rem;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 5rem;

  &.disabled {
    pointer-events: none;
  }
}
.errored {
  border: 0.1875rem solid red
}

input,
.placeholder {
  position: absolute;
}

.placeholder {
  z-index: 1;
  left: 10px;
  font: var(--input-font);
  color: var(--input-plcehoder-color);
}

input {
  @include mixins.clear-input;

  right: 0;
  left: 10px;
  top: 0;
  bottom: 0;
  -webkit-appearance:none;

  &[type='number'] {
    left: 0;
    text-align: center;
    appearance: textfield;
    --mox-appearance: textfield;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button  {
    display: none;
  }
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.hr {
  @include mixins.hr-horizontal(rgba(157, 157, 157, 1));
}

.button[appButton] {
  ::ng-deep .icon {
    width: 0.5786rem;
  }
}

.cleaner {
  z-index: 1;
  position: absolute;
  right: 10px;
}

.opener {
  z-index: 1;
  position: absolute;
  right: 30px;
}