@use '@global/styles/mixins';

.wrapper {
	display: flex;
	gap: 0.12rem;
	align-items: center;
	width: auto;
}

.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 4.25rem;
	height: 44px;
	border: rgb(195 195 195 / 100%) solid 0.1rem;
	border-radius: 0.25rem;
	text-align: center;

	&.disabled {
		pointer-events: none;
	}
}

.errored {
	border-color: red;
}

input,
.placeholder {
	position: absolute;
}

.placeholder {
	left: 0.8125rem;
	z-index: 1;
	color: var(--input-plcehoder-color);
	font: var(--input-font);
}

input {
	@include mixins.clear-input;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0.8125rem;
	font: var(--input-font);
	appearance: none;

	&[type='number'] {
		--moz-appearance: textfield;
		left: 0.312rem;
		appearance: textfield;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		display: none;
	}
}

.buttons-wrapper {
	display: flex;
	flex-direction: column;
}

.hr {
	@include mixins.hr-horizontal(rgba(157, 157, 157, 1));
}

.button[appButton] {
	width: 30px;

	::ng-deep .icon {
		width: 0.5786rem;
		margin: 0 0.7rem;
	}
}

.cleaner {
	position: absolute;
	right: 10px;
	z-index: 1;
}

.opener {
	position: absolute;
	right: 30px;
	z-index: 1;
}